
<footer class="footer">

    <div class="footer-content">
        <div class="footer-section links">
            <h3>Lokasi</h3>
            <ul>
                <a class="black-text">Jln Seth Adji ...</a>
            </ul>
        </div>
        <div class="footer-section links">
            <h3>Profil Perusahaan</h3>
            <ul>
                <li><a href="/about">Tentang Kami           </a>
                <li><a href="/about">Visi & Misi            </a>
                <li><a href="/about">Struktur Organisasi    </a>
                <li><a href="/about">Tim Kami               </a>
             </li>
            </ul>
        </div>
        <div class="footer-section contact">
            <h3>Hubungin Kantor Pusat</h3>
            <ul>
                <li><a href="mailto:getssubroto@gmail.com">nama@segarnyaman.com</a></li>
                <li><a href="#" id="copy-phone" data-phone="+62 812-5320-9391">+62 812-5320-9391</a></li>
                <li><a href="#" id="copy-phone" data-phone="+62 812-5669-8181">+62 812-5669-8181</a></li>
                <!-- <li><a href="https://github.com/GetsSubroto" target="_blank">github.com/GetsSubroto</a></li> -->
            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>&copy; 2025 | Gates </p>
    </div>
    <body class="body">
    </body>
</footer>

