<div class="frHeader">
    <h1>{{title}}</h1>
    <nav class="nav">
        <ul class="logo-container-header">
            <li>
                <a href="/utama">
                    <div class="logo-wrapper-home">
                        <img src="/public/images/HomePageLogo.png" alt="Logo" class="logo-home">
                    </div>
                </a>
            </li>
            <li>
                <a href="/QC">
                    <div class="logo-wrapper-qc">
                        <img src="/public/images/TransQC.png" alt="Logo" class="logo-qc">
                    </div>
                </a>
            </li>
            <li>
                <a href="/FAJARRAGA">
                    <div class="logo-wrapper-FR">
                        <img src="/public/images/FajarRagaLogo.png" alt="Logo" class="logo-fj">
                    </div>
                </a>
            </li>
        </ul>
    </nav>
</div>
