<div class="qcHeader">
    <a href="/utama">
        <div class="logo-wrapper-home">
            <img src="/public/images/TransQC.png" alt="Logo" class="logo-qc">
        </div>
    </a>
    <nav class="nav">
        <ul class="logo-container-header">
            <li>
                <a href="/utama">
                    <div class="logo-wrapper-home">
                        <img src="public/images/SNLogo.jpg" alt="Logo" class="logo-sn">
                    </div>
                </a>
            </li>

        </ul>
    </nav>
</div>
