
<section class="service-image-section">
    <div class="service-image">
        <img src="/images/SegarNyaman/frontDesk.png" alt="Front Desk">
        <div class="image-caption">Lobi</div>
    </div>
    <div class="service-image">
        <img src="/images/SegarNyaman/ruangTunggu.png" alt="Waiting Room">
        <div class="image-caption">Ruang Tunggu</div>
    </div>
    <div class="service-image">
        <img src="/images/SegarNyaman/kariyawan.jpg" alt="Ruko Depan">
        <div class="image-caption">Pegawai</div>
    </div>
    <div class="service-image">
        <img src="/images/SegarNyaman/cuciKaki.png" alt="Cuci Kaki">
        <div class="image-caption">Cuci Kaki</div>
    </div>

    <div class="service-image">
        <img src="/images/SegarNyaman/ruangPrivat.png" alt="Ruang Privat">
        <div class="image-caption">Ruang Privat</div>
    </div>
    <div class="service-image">
        <img src="/images/SegarNyaman/tilam.png" alt="Tilam">
        <div class="image-caption">Ranjang Pijat</div>
    </div>

    <div class="service-image">
        <img src="/images/SegarNyaman/refleksiRoom.png" alt="Pijat Badan">
        <div class="image-caption">Refleksi</div>
    </div>
    <div class="service-image">
        <img src="/images/SegarNyaman/fullBodyMassageRoom.png" alt="Refleksi">
        <div class="image-caption">Ruang Pijat</div>
    </div>
</section>