<!DOCTYPE html>
<html>

<head>
    <title>{{title}}</title>
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">
    <link rel="stylesheet" href="/css/css.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/intro.css">
    <link rel="stylesheet" href="/css/logo.css">
    <link rel="stylesheet" href="/css/outro.css">
    <link rel="stylesheet" href="/css/quote.css">
    <link rel="stylesheet" href="/css/googlemaps.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/hero.css">
    <link rel="stylesheet" href="/css/photoFrame.css">




    <script defer src="/public/js/script.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Quicksand:wght@400&display=swap" rel="stylesheet">
</head>

<body>
<div id="container">

    {{#if showMainHeader}}
        {{> mainHeader}}
    {{/if}}

    {{#if showMainBody}}
        {{>mainBody}}
    {{/if}}

    {{#if showcomingsoon}}
        {{>comingsoonpartial}}
    {{/if}}

    {{#if showMainFooter}}
        {{> mainFooter}}
    {{/if}}

    {{>gallery}}

    <!--

<div class="divider"></div>
{>search}  ---------------- need to add another { and } to work in between >search
<div class="divider"></div>
-->
    <!--
    {{#if showThumb}}
        <div id="card-container">
            {{#each posts}}
        {{> card this}}
    {{/each}}
        </div>
    {{/if}}
        {{{body}}}
        {{#if showProfileCard}}
        <div class="divider"></div>
        <div id="card-container">
            {{#each userArray}}
            {{> card_profile this}}
        {{/each}}
        </div>
    {{/if}}
        {{#if showThumbBottom}}
        <div class="divider"></div>
        <div id="card-container">
            {{#each posts}}
            {{> card this}}
        {{/each}}
        </div>
    {{/if}}

        {{#if showComments}}
        <button id="toggle-sort" class="toggle-sort-button">Sort: Newest First</button>
        {{> comment this}}
        {{/if}}
-->

</div>
</body>
</html>
