
<div class="profile-photo">
    <form action="/profile/edit" method="POST" enctype="multipart/form-data" class="editprofile" id="edit-profile">
        <label for="profilePicUpload" class="profile-photo"> Upload Profile Photo</label>
        <input type="file" name="profilePicUpload" accept="image/*" required>
        <button type="submit" class="upload-button">Upload</button>
    </form>
</div>