<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body class="body">
<div class="main">
    <div class="profile-content">
        {{> card_profile user }}
    </div>
</div>
</body>
</html>
