<div class="main-document">
    <div class="content-document">
        <form action="/posts/posttext" method="POST" class="input-form2" id="post-text">

            <div class="form-container">
                <div class="form-title">POST TEXT</div>
            </div>

            <label for="title" class="form-label">Title:</label>
            <input type="text" id="title" name="title" placeholder="Title" required><br>

            <label for="textpost" class="form-label">Body:</label>
            <textarea id="textpost" name="textpost" placeholder="Write your post here..." required></textarea><br>

            <button type="submit" class="upload-button">Post</button>

        </form>
    </div>
</div>

<!-- Add the new CSS for the document style -->
